.split-img {
	padding: 8px;
}

@media (min-width: 800px) {
	.split {
		width: 100%;
		margin: auto;
	}
	.split > div:first-child {
		float: right;
		width: 30%;
		margin-left: 50px;
	}
	.split > div:nth-child(2) {
		overflow: hidden;
	}
}

@media (min-width: 650px) {
	.split-img {
		float: left;
	}
}
