.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

hr {
	width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

hr.post-separator {
	margin-top: 40px;
	margin-bottom: 0px;
}
