---
layout: default
---
<article class="post hentry" itemscope itemtype="http://schema.org/BlogPosting">

	<header>

		<h1 class="entry-title" itemprop="name headline">
			{{page.title | escape}}
		</h1>

		{% include post-meta-data.html post=page author=true %}
	</header>

	<div class="post-content" itemprop="articleBody">
		{% include post-extras.html %}

		{{content}}

		<hr>

		{% include post-extras.html %}
	</div>


	<div class="cat-links">
		<span class="cat-text">
			<i class="fa fa-fw fa-folder-open" aria-hidden="true" title="Post category"></i>
			Category:
		</span>

		<a href="/{{page.categories}}">{{page.categories}}</a>
	</div>

	{% include tag-list.html tags=page.tags prefix=true %}

	{% if site.disqus.shortname %}
		{% include components/disqus_comments.html %}
	{% endif %}
</article>
