---
layout: default
---
<article class="post hentry" itemscope itemtype="http://schema.org/BlogPosting">

	<header>

		<h1 class="entry-title" itemprop="name headline">
			{{page.title | escape}}
			<div class="pull-right">
				<a href="{{site.github_data_url}}/{{page.path}}" class="entry-edit">
					<i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit this post"></i>
				</a>
			</div>
		</h1>

		{% include post-meta-data.html post=page author=true %}

	</header>

	<div class="post-content" itemprop="articleBody">
		{{content}}
	</div>


	<div class="cat-links">
		<span class="cat-text">
			<i class="fa fa-fw fa-folder-open" aria-hidden="true" title="Post category"></i>
			Category:
		</span>

		<a href="/category/{{page.categories}}">{{page.categories}}</a>
	</div>

	{% include tag-list.html tags=page.tags prefix=true %}

	{% if site.disqus.shortname %}
		{% include components/disqus_comments.html %}
	{% endif %}
</article>
