a:visited {
	color: $brand-color;
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}
