a:visited {
	color: $brand-color;
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}


.pull-right {
	float: right;
}


.tags-links,
.cat-links {
	clear: both;
	display: inline;
}
.tags-links a {
	background-color: rgba(243,133,31,1.0);
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	margin: 0 5px .4em 0;
	padding: 1px 3px;
}
.tags-links a:hover {
	background-color: #f5a061;
}
.cat-links a {
	background-color: rgba(57,172,160,1.0);
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	margin: 0 3px .4em 0;
	padding: 1px 3px;
}
.cat-links a:hover {
	background-color: #63c8bd;
}
